http_interactions:
- request:
    method: get
    uri: https://api.tumblr.com/v2/blog/schochastics/posts?limit=50&offset=0&npf=TRUE&api_key=<<<API TOKEN>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-perday-limit: '5000'
      x-ratelimit-perday-remaining: '4971'
      x-ratelimit-perday-reset: '22257'
      x-ratelimit-perhour-limit: '1000'
      x-ratelimit-perhour-remaining: '998'
      x-ratelimit-perhour-reset: '3600'
      x-rid: 1076af144371794d282723b16950f485
    body:
      encoding: ''
      file: no
      string: '{"meta":{"status":200,"msg":"OK"},"response":{"blog":{"ask":false,"ask_anon":false,"ask_page_title":"Ask
        me anything","asks_allow_media":true,"avatar":[{"width":512,"height":512,"url":"https://assets.tumblr.com/images/default_avatar/pyramid_closed_512.png"},{"width":128,"height":128,"url":"https://assets.tumblr.com/images/default_avatar/pyramid_closed_128.png"},{"width":96,"height":96,"url":"https://assets.tumblr.com/images/default_avatar/pyramid_closed_96.png"},{"width":64,"height":64,"url":"https://assets.tumblr.com/images/default_avatar/pyramid_closed_64.png"}],"can_chat":false,"can_subscribe":false,"description":"","is_nsfw":false,"likes":0,"name":"schochastics","posts":1,"share_likes":true,"subscribed":false,"theme":{"avatar_shape":"circle","background_color":"#FFFFFF","body_font":"Helvetica
        Neue","header_bounds":"","header_image":"https://assets.tumblr.com/images/default_header/optica_pattern_06.png?_v=c5e9c9bdca5f67be80d91514a36509cc","header_image_focused":"https://assets.tumblr.com/images/default_header/optica_pattern_06_focused_v3.png?_v=c5e9c9bdca5f67be80d91514a36509cc","header_image_poster":"","header_image_scaled":"https://assets.tumblr.com/images/default_header/optica_pattern_06_focused_v3.png?_v=c5e9c9bdca5f67be80d91514a36509cc","header_stretch":true,"link_color":"#00B8FF","show_avatar":true,"show_description":true,"show_header_image":true,"show_title":true,"title_color":"#000000","title_font":"Gibson","title_font_weight":"bold"},"title":"Untitled","total_posts":1,"updated":1673522888,"url":"https://www.tumblr.com/blog/view/schochastics","uuid":"t:W0B0GW4Q-3mL3MjuLsnlHw"},"posts":[{"type":"blocks","original_type":"regular","is_blocks_post_format":true,"blog_name":"schochastics","blog":{"name":"schochastics","title":"Untitled","description":"","url":"https://www.tumblr.com/blog/view/schochastics","uuid":"t:W0B0GW4Q-3mL3MjuLsnlHw","updated":1673522888,"tumblrmart_accessories":{}},"id":706239935865372672,"id_string":"706239935865372672","post_url":"https://www.tumblr.com/blog/view/schochastics/706239935865372672","slug":"test","date":"2023-01-12
        11:28:08 GMT","timestamp":1673522888,"state":"published","reblog_key":"THs1yYE8","tags":[],"short_url":"https://tmblr.co/ZJLi0RdD4NhNSq00","summary":"test","should_open_in_legacy":false,"recommended_source":null,"recommended_color":null,"note_count":0,"content":[{"type":"text","text":"test","subtype":"heading1"},{"type":"text","text":"test"}],"layout":[],"trail":[],"can_like":false,"interactability_reblog":"everyone","can_reblog":false,"can_send_in_message":true,"can_reply":false,"display_avatar":true}],"total_posts":1}}'
  recorded_at: 2023-01-12 12:29:31 GMT
  recorded_with: vcr/1.1.0, webmockr/0.8.2
