http_interactions:
- request:
    method: GET
    uri: https://api.tumblr.com/v2/blog/schochastics.tumblr.com/info?api_key=
  response:
    status: 200
    headers:
      content-type: application/json
      x-rid: 74026e6d73b0c28bbc98094ce3bc2c59
      x-ratelimit-perday-limit: '5000'
      x-ratelimit-perday-remaining: '4999'
      x-ratelimit-perday-reset: '86400'
      x-ratelimit-perhour-limit: '1000'
      x-ratelimit-perhour-remaining: '999'
      x-ratelimit-perhour-reset: '3600'
    body:
      string: '{"meta":{"status":200,"msg":"OK"},"response":{"blog":{"ask":false,"ask_anon":false,"ask_page_title":"Ask
        me anything","asks_allow_media":true,"avatar":[{"width":512,"height":512,"url":"https://assets.tumblr.com/images/default_avatar/pyramid_closed_512.png","accessories":[]},{"width":128,"height":128,"url":"https://assets.tumblr.com/images/default_avatar/pyramid_closed_128.png","accessories":[]},{"width":96,"height":96,"url":"https://assets.tumblr.com/images/default_avatar/pyramid_closed_96.png","accessories":[]},{"width":64,"height":64,"url":"https://assets.tumblr.com/images/default_avatar/pyramid_closed_64.png","accessories":[]}],"can_chat":false,"can_subscribe":false,"description":"","is_nsfw":false,"likes":0,"name":"schochastics","posts":1,"share_likes":true,"subscribed":false,"theme_id":37310,"theme":{"avatar_shape":"circle","background_color":"#FFFFFF","body_font":"Helvetica
        Neue","header_bounds":"","header_image":"https://assets.tumblr.com/images/default_header/optica_pattern_06.png?_v=c5e9c9bdca5f67be80d91514a36509cc","header_image_focused":"https://assets.tumblr.com/images/default_header/optica_pattern_06_focused_v3.png?_v=c5e9c9bdca5f67be80d91514a36509cc","header_image_poster":"","header_image_scaled":"https://assets.tumblr.com/images/default_header/optica_pattern_06_focused_v3.png?_v=c5e9c9bdca5f67be80d91514a36509cc","header_stretch":true,"link_color":"#00B8FF","show_avatar":true,"show_description":true,"show_header_image":true,"show_title":true,"title_color":"#000000","title_font":"Gibson","title_font_weight":"bold"},"title":"Untitled","total_posts":1,"updated":1673522888,"url":"https://www.tumblr.com/blog/view/schochastics","uuid":"t:W0B0GW4Q-3mL3MjuLsnlHw"}}}'
  recorded_at: 2025-07-23 12:39:09
recorded_with: VCR-vcr/1.7.1.93
