http_interactions:
- request:
    method: GET
    uri: https://api.tumblr.com/v2/tagged?tag=video&limit=20&api_key=
  response:
    status: 200
    headers:
      content-type: application/json
      x-rid: 373af7da4321ce5e48f2cd3a850e5121
      x-ratelimit-perday-limit: '5000'
      x-ratelimit-perday-remaining: '4994'
      x-ratelimit-perday-reset: '86398'
      x-ratelimit-perhour-limit: '1000'
      x-ratelimit-perhour-remaining: '994'
      x-ratelimit-perhour-reset: '3598'
    body:
      string: "{\"meta\":{\"status\":200,\"msg\":\"OK\"},\"response\":[{\"type\":\"text\",\"is_blocks_post_format\":true,\"blog_name\":\"piasgermany\",\"blog\":{\"name\":\"piasgermany\",\"title\":\"[PIAS]
        Germany\",\"description\":\"[PIAS] Hamburg Office | Zippelhaus 5a | 20457
        Hamburg | pias.com/de\\nMeetz (Head of Promotion) | Fon: +49 (0)40.31 80 3-108
        | meetz [at] pias [dot] com / \\nMitja Bruch (Promotion Manager) | Fon: +49
        (0)40.31 80 3-102 | mitja.bruch [at] pias [dot] com / Sören Heuer (Promotion
        Manager) | Fon: +49 (0)40.31803-115 | soeren.heuer [at] pias [dot] com / Finn
        Lübke (Promotion Assistant) | Fon: +49 (0)40.31803-118 | finn.luebke [at]
        pias [dot] com\",\"url\":\"https://newsfeed.piasgermany.de/\",\"uuid\":\"t:O81nMTBzIgDVEFkv5_coEA\",\"updated\":1753274347,\"tumblrmart_accessories\":{},\"can_show_badges\":true},\"id\":789865401768198144,\"id_string\":\"789865401768198144\",\"is_blazed\":false,\"is_blaze_pending\":false,\"can_blaze\":false,\"post_url\":\"https://newsfeed.piasgermany.de/post/789865401768198144/album-video-the-divine-comedy-ver%C3%B6ffentlichen\",\"slug\":\"album-video-the-divine-comedy-veröffentlichen\",\"date\":\"2025-07-23
        12:39:07 GMT\",\"timestamp\":1753274347,\"state\":\"published\",\"format\":\"html\",\"reblog_key\":\"TPZSCAet\",\"tags\":[\"the
        divine comedy\",\"rainy sunday afternoon\",\"divine comedy records\",\"album\",\"video\",\"live\"],\"short_url\":\"https://tmblr.co/ZgiLdlhsAcNamy00\",\"summary\":\"[Album
        + Video] The Divine Comedy veröffentlichen neues Album \\\"Rainy Sunday Afternoon\\\"
        im September!\",\"should_open_in_legacy\":false,\"recommended_source\":null,\"recommended_color\":null,\"note_count\":0,\"title\":\"\",\"body\":\"<h1>[Album
        + Video] The Divine Comedy veröffentlichen neues Album &ldquo;Rainy Sunday
        Afternoon&rdquo; im September!</h1><div class=\\\"npf_row\\\"><figure class=\\\"tmblr-full\\\"
        data-orig-height=\\\"1536\\\" data-orig-width=\\\"2048\\\"><img src=\\\"https://64.media.tumblr.com/a662428e56be31d0c2f93828cdd13134/2cdf5923390a896d-54/s640x960/ea4ca8524f5e408c92b21b66b6d023ac2ff20304.jpg\\\"
        data-orig-height=\\\"1536\\\" data-orig-width=\\\"2048\\\" srcset=\\\"https://64.media.tumblr.com/a662428e56be31d0c2f93828cdd13134/2cdf5923390a896d-54/s75x75_c1/abcd7960782c3f6c52f566bb0f6b0aafeb5d4fce.jpg
        75w, https://64.media.tumblr.com/a662428e56be31d0c2f93828cdd13134/2cdf5923390a896d-54/s100x200/28f1774c2c3cb6fe04bc7913023ac7441445[...]
