http_interactions:
- request:
    method: get
    uri: https://api.tumblr.com/v2/tagged?tag=writer&limit=20&api_key=<<<API TOKEN>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      x-ratelimit-perday-limit: '5000'
      x-ratelimit-perday-remaining: '4990'
      x-ratelimit-perday-reset: '85228'
      x-ratelimit-perhour-limit: '1000'
      x-ratelimit-perhour-remaining: '990'
      x-ratelimit-perhour-reset: '2428'
      x-rid: 745179772aa037c5bb9934f5838d671f
    body:
      encoding: ''
      file: no
      string: "{\"meta\":{\"status\":200,\"msg\":\"OK\"},\"response\":[{\"type\":\"text\",\"is_blocks_post_format\":true,\"blog_name\":\"doll-poetry\",\"blog\":{\"name\":\"doll-poetry\",\"title\":\"Doll
        Poetry♡\",\"description\":\"My original poetry either from the day of or the
        Poetic Archives\",\"url\":\"https://www.tumblr.com/blog/view/doll-poetry\",\"uuid\":\"t:sP3nTAQkptE8dc_mTP-3yw\",\"updated\":1673552657,\"tumblrmart_accessories\":{}},\"id\":706271151811346432,\"id_string\":\"706271151811346432\",\"post_url\":\"https://www.tumblr.com/blog/view/doll-poetry/706271151811346432\",\"slug\":\"new-appearance\",\"date\":\"2023-01-12
        19:44:17 GMT\",\"timestamp\":1673552657,\"state\":\"published\",\"format\":\"html\",\"reblog_key\":\"KNHQygsz\",\"tags\":[\"New
        appearance\",\"poetry blog\",\"poetry\",\"writer\",\"mypoetry\",\"poems\",\"picturepoetry\",\"graphicdesign\",\"poets
        on tumblr\",\"poets\",\"poetsandwriters\",\"female poets\",\"poetblr\",\"poetic\",\"poems
        on tumblr\",\"Design\",\"Like\",\"Reblog\",\"Comment\",\"Follow\"],\"short_url\":\"https://tmblr.co/ZGxlaTdDBTxUqa00\",\"summary\":\"♡NEW♡
        Appearance》》》\",\"should_open_in_legacy\":false,\"recommended_source\":null,\"recommended_color\":null,\"note_count\":1,\"title\":\"\",\"body\":\"<h1>♡NEW♡
        Appearance》》》</h1><div class=\\\"npf_row\\\"><figure class=\\\"tmblr-full\\\"
        data-orig-height=\\\"2340\\\" data-orig-width=\\\"1080\\\"><img src=\\\"https://64.media.tumblr.com/518b3a9bcc5b266d4c3f1c1296c9dbbf/c7ba8eb6e73436c8-27/s640x960/b6171e1edf00e743d4fbc41c26353f74dc344987.jpg\\\"
        data-orig-height=\\\"2340\\\" data-orig-width=\\\"1080\\\"/></figure></div><p>What
        do you guys think?♡</p><p>My book is still available, just figuring it out\U0001F338\U0001F338\U0001F338\U0001F338</p>\",\"reblog\":{\"comment\":\"<p><h1>♡NEW♡
        Appearance》》》</h1><div class=\\\"npf_row\\\"><figure class=\\\"tmblr-full\\\"
        data-orig-height=\\\"2340\\\" data-orig-width=\\\"1080\\\"><img src=\\\"https://64.media.tumblr.com/518b3a9bcc5b266d4c3f1c1296c9dbbf/c7ba8eb6e73436c8-27/s640x960/b6171e1edf00e743d4fbc41c26353f74dc344987.jpg\\\"
        data-orig-height=\\\"2340\\\" data-orig-width=\\\"1080\\\"></figure></div><p>What
        do you guys think?♡</p><p>My book is still available, just figuring it out\U0001F338\U0001F338\U0001F338\U0001F338</p></p>\",\"tree_html\":\"\"},\"trail\":[{\"blog\":{\"name\":\"doll-poetry\",\"active\":true,\"theme\":{\"header_full_width\":720,\"header_full_height\":1480,\"header_focus_width\":720,\"header_focus_height\":405,\"avatar_shape\":\"square\",\"background_color\":\"#f0d8ed\",\"body_font\":\"Helvetica
        Neue\",\"header_bounds\":\"537,720,942,0\",\"header_image\":\"https://64.media.tumblr.com/ba04fd318e4634f5dba1e79a6160fa75/77ecaa2714f82d8d-96/s1080x1080/4dc2f6226b4adde31ca1d43ff4237af9a4664ea4.png\",\"header_image_focused\":\"https://64.media.tumblr.com/ba04fd318e4634f5dba1e79a6160fa75/77ecaa2714f82d8d-96/s2048x3072_c0,36284,100000,63649/6d10376a56545887faf4e1eeb25c09916657fd3c.png\",\"header_image_poster\":\"\",\"header_image_scaled\":\"https://64.media.tumblr.com/ba04fd318e4634f5dba1e79a6160fa75/77ecaa2714f82d8d-96/s2048x3072/2a04b4af11ba87c59b9c3fd8436e957560d31474.png\",\"header_stretch\":true,\"link_color\":\"#ffffff\",\"show_avatar\":true,\"show_description\":true,\"show_header_image\":true,\"show_title\":true,\"title_color\":\"#e2a3d1\",\"title_font\":\"Streetscript\",\"title_font_weight\":\"regular\"},\"share_likes\":true,\"share_following\":true,\"can_be_followed\":true},\"post\":{\"id\":\"706271151811346432\"},\"content_raw\":\"<p><h1>♡NEW♡
        Appearance》》》</h1><div class=\\\"npf_row\\\"><figure class=\\\"tmblr-full\\\"
        data-orig-height=\\\"2340\\\" data-orig-width=\\\"1080\\\"><img src=\\\"https://64.media.tumblr.com/518b3a9bcc5b266d4c3f1c1296c9dbbf/c7ba8eb6e73436c8-27/s640x960/b6171e1edf00e743d4fbc41c26353f74dc344987.jpg\\\"
        data-orig-height=\\\"2340\\\" data-orig-width=\\\"1080\\\"></figure></div><p>What
        do you guys think?♡</p><p>My book is still available, just figuring it out\U0001F338\U0001F338\U0001F338\U0001F338</p></p>\",\"content\":\"<p><h1>&#9825;NEW&#9825;
        Appearance&#12299;&#12299;&#12299;</h1><figure class=\\\"tmblr-full\\\"><img
        src=\\\"https://64.media.tumblr.com/518b3a9bcc5b266d4c3f1c1296c9dbbf/c7ba8eb6e73436c8-27/s640x960/b6171e1edf00e743d4fbc41c26353f74dc344987.jpg\\\"
        alt=\\\"image\\\" class=\\\"\\\"/></figure><p>What do you guys think?&#9825;</p><p>My
        book is still available, just figuring it out&#127800;&#127800;&#127800;&#127800;</p></p>\",\"is_current_item\":true,\"is_root_item\":true}],\"can_like\":false,\"interactability_reblog\":\"everyone\",\"can_reblog\":false,\"can_send_in_message\":true,\"can_reply\":false,\"display_avatar\":true},{\"type\":\"text\",\"is_blocks_post_format\":true,\"blog_name\":\"doll-poetry\",\"blog\":{\"name\":\"doll-poetry\",\"title\":\"Doll
        Poetry♡\",\"description\":\"My original poetry either from the day of or the
        Poetic Archives\",\"url\":\"https://www.tumblr.com/blog/view/doll-poetry\",\"uuid\":\"t:sP3nTAQkptE8dc_mTP-3yw\",\"updated\":1673552657,\"tumblrmart_accessories\":{}},\"id\":706270280013758464,\"id_string\":\"706270280013758464\",\"post_url\":\"https://www.tumblr.com/b[...]
