http_interactions:
- request:
    method: GET
    uri: https://api.tumblr.com/v2/tagged?tag=meme&limit=20&api_key=
  response:
    status: 200
    headers:
      content-type: application/json
      x-rid: 375e4897422c1d849b43f21a1749f0b1
      x-ratelimit-perday-limit: '5000'
      x-ratelimit-perday-remaining: '4995'
      x-ratelimit-perday-reset: '86399'
      x-ratelimit-perhour-limit: '1000'
      x-ratelimit-perhour-remaining: '995'
      x-ratelimit-perhour-reset: '3599'
    body:
      string: "{\"meta\":{\"status\":200,\"msg\":\"OK\"},\"response\":[{\"type\":\"text\",\"is_blocks_post_format\":true,\"blog_name\":\"man-of-tfworlds\",\"blog\":{\"name\":\"man-of-tfworlds\",\"title\":\"FOWLERISM\U0001F6D0\",\"description\":\"a
        couple screws loose...\",\"url\":\"https://www.tumblr.com/blog/view/man-of-tfworlds\",\"uuid\":\"t:7lVX9Jm7OfmoZ20tHxtrNw\",\"updated\":1753274307,\"tumblrmart_accessories\":{},\"can_show_badges\":true},\"id\":789865360419700736,\"id_string\":\"789865360419700736\",\"is_blazed\":false,\"is_blaze_pending\":false,\"can_blaze\":false,\"post_url\":\"https://www.tumblr.com/blog/view/man-of-tfworlds/789865360419700736\",\"slug\":\"the-small-text-is-literally-theresa-fowler-i\",\"date\":\"2025-07-23
        12:38:27 GMT\",\"timestamp\":1753274307,\"state\":\"published\",\"format\":\"html\",\"reblog_key\":\"ftDMO8rP\",\"tags\":[\"theresa
        fowler\",\"rc9gn theresa\",\"meme\",\"lol\"],\"short_url\":\"https://tmblr.co/Z3pKIQhsAbn4Cy00\",\"summary\":\"The
        small text is literally Theresa Fowler I can't-\",\"should_open_in_legacy\":false,\"recommended_source\":null,\"recommended_color\":null,\"note_count\":0,\"title\":\"\",\"body\":\"<div
        class=\\\"npf_row\\\"><figure class=\\\"tmblr-full\\\" data-orig-height=\\\"710\\\"
        data-orig-width=\\\"735\\\"><img src=\\\"https://64.media.tumblr.com/c8e9aa0b5da40eaf40677ec0600f8830/1deabedeb9f5011d-42/s640x960/0d8c821d729a7f167dd0f0cff61a078a0a72ccaf.jpg\\\"
        data-orig-height=\\\"710\\\" data-orig-width=\\\"735\\\" srcset=\\\"https://64.media.tumblr.com/c8e9aa0b5da40eaf40677ec0600f8830/1deabedeb9f5011d-42/s75x75_c1/687ac6f28f87b2e4fc68ca8ce36468f2aad6374c.jpg
        75w, https://64.media.tumblr.com/c8e9aa0b5da40eaf40677ec0600f8830/1deabedeb9f5011d-42/s100x200/726e0776477ce5b545daca9a92e7d81e2f0698[...]
