http_interactions:
- request:
    method: GET
    uri: https://api.tumblr.com/v2/tagged?tag=writer&limit=20&api_key=
  response:
    status: 200
    headers:
      content-type: application/json
      x-rid: 7d154f08ac98ddf639d55d46ca7e6229
      x-ratelimit-perday-limit: '5000'
      x-ratelimit-perday-remaining: '4996'
      x-ratelimit-perday-reset: '86399'
      x-ratelimit-perhour-limit: '1000'
      x-ratelimit-perhour-remaining: '996'
      x-ratelimit-perhour-reset: '3599'
    body:
      string: "{\"meta\":{\"status\":200,\"msg\":\"OK\"},\"response\":[{\"type\":\"text\",\"is_blocks_post_format\":true,\"blog_name\":\"p-s-smith-author\",\"blog\":{\"name\":\"p-s-smith-author\",\"title\":\"Patrick
        S. Smith\",\"description\":\"\",\"url\":\"https://www.tumblr.com/blog/view/p-s-smith-author\",\"uuid\":\"t:6HTWO5OxVFbz0ADfFsJVyg\",\"updated\":1753273518,\"tumblrmart_accessories\":{},\"can_show_badges\":true},\"id\":789864532394852352,\"id_string\":\"789864532394852352\",\"is_blazed\":false,\"is_blaze_pending\":false,\"can_blaze\":false,\"post_url\":\"https://www.tumblr.com/blog/view/p-s-smith-author/789864532394852352\",\"slug\":\"the-witch-vs-daughter\",\"date\":\"2025-07-23
        12:25:17 GMT\",\"timestamp\":1753273517,\"state\":\"published\",\"format\":\"html\",\"reblog_key\":\"bMByOgh7\",\"tags\":[\"shortstories\",\"shortstory\",\"writingfantasy\",\"storytelling\",\"writer\"],\"short_url\":\"https://tmblr.co/ZXTylShsAPjw4q00\",\"summary\":\"The
        Witch vs. Daughter \",\"should_open_in_legacy\":false,\"recommended_source\":null,\"recommended_color\":null,\"note_count\":0,\"title\":\"\",\"body\":\"<h1>The
        Witch vs. Daughter </h1><p>A link to one of my stories </p><p>The Witch vs.
        Daughter  </p><p class=\\\"npf_link\\\" data-npf='{\\\"type\\\":\\\"link\\\",\\\"url\\\":\\\"https://patrickssmithauthor.wordpress.com/2021/12/03/witch-versus-daughter/\\\",\\\"display_url\\\":\\\"https://patrickssmithauthor.wordpress.com/2021/12/03/witch-versus-daughter/\\\",\\\"title\\\":\\\"Witch
        Versus Daughter\\\",\\\"description\\\":\\\"A Sutlander witch encounters the
        Seeress’s daughter\\\",\\\"site_name\\\":\\\"The Writings of Patrick S. Smith\\\",\\\"poster\\\":[{\\\"media_key\\\":\\\"5465de391f7096c8595b20a4676119bd:d0472afb7c8e0099-e2\\\",\\\"type\\\":\\\"image/jpeg\\\",\\\"width\\\":512,\\\"height\\\":512}]}'><a
        href=\\\"https://patrickssmithauthor.wordpress.com/2021/12/03/witch-versus-daughter/\\\"
        target=\\\"_blank\\\">Witch Versus Daughter</a></p><p>Witch Versus Daughter</p><p><i>In
        late spring of 269, a large party of Sutlanders (who call themselves Busina)
        landed on Iliapin with approximately forty ships and estimated over a thousand
        raiders. They sacked several villages and the town of Whitbrook over the course
        of three weeks. In the town [...]
